# This file is an example. Create a .env file in the root of the project and add your OpenWeatherMap API key.
# You can get a free API key from https://openweathermap.org/appid
VITE_OPENWEATHER_API_KEY="3322e4f1d16559dfd1d96eea7b990467"
